apiVersion: apps/v1
kind: Deployment
metadata:
  name: hava
spec:
  replicas: 6
  selector:
    matchLabels:
      app: hava
  template:
    metadata:
      labels:
        app: hava
    spec:
      containers:
      - name: hava
        image: ghcr.io/esekizinci/pipeline-test:91627681
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        command: ["/bin/sh","-c"]
        args:
          - sed -i "s/__POD_NAME__/${POD_NAME}/g" /usr/share/nginx/html/index.html && nginx -g 'daemon off;'
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "50m"
            memory: "64Mi"
          limits:
            cpu: "250m"
            memory: "256Mi"
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 3
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
